.card {
  padding: 16px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: #cbd5e1 1px 3px 3px 1px;
  transition: all ease .3s;
}

.card:hover {
  box-shadow: 0.2rem 0.2rem 2rem rgb(0 0 0 / 15%);
  cursor: pointer;
}

.card img {
  border-radius: 5px;
  border: 1px solid var(--laranja-principal);
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content span {
  background-color: #ffedd5;
  color: var(--preto);
  padding: 2px 6px;
  border-radius: 8px;
  font-weight: 600;
}

.content p {
  color: var(--preto);
  font-weight: 600;
  max-width: 140px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}